body, p, ol, ul, td {
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
body{background-color:#EEEEEE; color: #36393D; font-family:Georgia, serif;margin-top:25px; font-size: 14px;}
a, a:hover, a:visited, a:active{color:#4096EE;text-decoration:none;}
#container{padding-bottom:25px;}
#inner_container{width:960px;}
#title{font-size:36px;font-weight:bold;margin-bottom:14px;}
#title a, a:hover, a:visited, a:active{color: #36393D;text-decoration:none;background-color:#EEEEEE;} 
#book-title{font-size: 24px; font-weight:bold;}
#tagline{font-style:italic;padding-bottom:25px;}
#nav{width:100%; text-align:right;}
.post{padding-bottom: 45px;}
.quote{margin-bottom: 12px; font-size:16px;border-left:1px solid #DBDBDB;padding-left: 15px;}
.book_meta{font-size:13px;}
.admin_options{font-size:10px;}
.floater{float:left; padding: 0px 10px;}
.clearer{clear:both;}
#book-posts{padding-top:15px;}
#content{padding-top:15px;}
div.pagination{padding: 3px; margin: 3px;font-family:Arial;}
div.pagination a {padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #333; text-decoration: none; /* no underline */ color: #333;}
div.pagination a:hover, div.pagination a:active {border: 1px solid #828282; color: #000;}
div.pagination span.current {padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #333; font-weight: bold; background-color: #333; color: #FFF;}
div.pagination span.disabled {padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #EEE; color: #DDD;}
#footer{padding-top:15px;}